Так вот!
{% extends 'flatpages/default.html' %}
{% load censor_filters %}
{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h4>{{ next_sale|default_if_none:"Смотрим, читаем." }}</h4>
    <h3>{% current_time '%b %d %Y %A' %}</h3>
    <td><h5>Количество новостей: {{ post|length }}</h5></td>
    <hr>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Поиск"/>
    </form>
    {% if post %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата</td>
                <td>Автор</td>
                <td>Текст</td>
                <td>Тип</td>
                <td>Категория</td>
            </tr>
            {% for post in post %}
            <tr>
                <td>{{ post.post_title|censor }}</td>
                <td>{{ post.post_datetime|date:'d M Y' }}</td>
                <td>{{ post.post_author }}</td>
                <td>{{ post.post_text|truncatewords:11|censor }}</td>
                <td>{{ post.post_type }}</td>
                <td>{{ post.post_category }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}
    {% if page_obj.has_previous %}
       <a href="? page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number  %}
            ...
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}